<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Python Addin</Name><AddInID>{8b0bb9a9-ed8e-4999-b4be-8d85971d5920}</AddInID><Description>Contains buttons and tools for add-in demonstration</Description><Version>0.1</Version><Image>Images\026-diamonds.png</Image><Author>YYang</Author><Company>ESRI</Company><Date>04/25/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="New folder_addin.py" namespace="New folder_addin"><ArcMap>
    <Commands>
        <Tool caption="create fishnet" category="Python Addin" class="createfishnet" id="New folder_addin.fishnettool" image="Images\006-pencil.png" message="creates a 10*10 fishnet" tip="creates a 10*10 fishnet"><Help heading="create fishnet">creates a 10*10 fishnet</Help></Tool>
        <Tool caption="create fishnet2" category="Python Addin" class="createfishnet2" id="New folder_addin.fishnettool2" image="Images\022-dice.png" message="creates a 20*20 fishnet" tip="creates a 20*20 fishnet"><Help heading="create fishnet2">creates a 20*20 fishnet</Help></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Ya" category="Python Addin" id="New folder_addin.Yang" showInitially="true"><Items><Tool refID="New folder_addin.fishnettool" /></Items></Toolbar>
        <Toolbar caption="YaYa" category="Python Addin" id="New folder_addin.YYang" showInitially="true"><Items><Tool refID="New folder_addin.fishnettool2" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>